body{
    background: darkgray;
}
div.logo img{
    margin: 0px;
    padding: 0px;
    width: 200px;
    height: 200px;
}

ul.menuBar{
    height: 60px;
    margin: 0px;
    background-color: lightslategray;
}

ul.menuBar li{
    list-style-type: none;
    width: 140px;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    float: left;
}

ul.menuBar li a{
    padding-top: 8px;
    color: silver;
    font-size: 28px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    text-emphasis: none;
    text-align: center;
    height: 30px;
}

ul.menuBar li a:link, ul.menuBar li a:visited{
    display: block;
}

ul.menuBar li a:hover, ul.menuBar li a:active{
    background-color: mintcream ;
}

section{
    padding-top: 10px;
    color: mintcream;
}

a{
    color: mintcream;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

section div.artical{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: lightslategray;
}

section div.artical h1{
    font-size: 34px;
    text-align: center;
}

section div.artical p{
    font-size: 20px;
    text-indent: 2em;
    text-align: left;
}

section div.artical div.eqs{
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    padding-left: 40%;
    text-indent: 1em;
    text-align: left;
}