
body{
    background-image:url(../pic/background.png);
    background-repeat:no-repeat;
    background-attachment:fixed;
    align-self: center;
}

body div {
    margin: 0 auto;
    height: 100%;
    width: 850px;
}
div.PersonalBar{
    opacity: 0.8;
    float:left;
    background-color: darkorange;
    width: 15%;
    max-width: 120px;
    min-width: 80px;
    height: 80%;
    border-radius: 15px;
}
div.PersonalBar img{
    background-color: aliceblue;
    width: 50px;
    height: 80px;
    margin-top: 30px;
    margin-left: 15%;
    margin-right: 15%;
    width:70%; 
    border-radius:50%
}
div.PersonalBar ul{
    padding-left: 3%;
    padding-right: 3%;
}
div.PersonalBar ul li{
    margin-top: 5%;
    margin-bottom: 5%;
    list-style-type: none;
}
div.PersonalBar ul li a{
    color:aliceblue;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bolder;
    font-family: monospace, Courier, 'Courier New';
    text-decoration: none;
    text-emphasis: none;
    text-align: center;
}
div.PersonalBar ul li a:link, div.PersonalBar ul li a:visited{
    display: block;
}
div.PersonalBar ul li a:hover, div.PersonalBar ul li a:active{
    background-color: aliceblue ;
    color: darkorange;
}
div.MenuBar{
    opacity: 0.8;
    float:left;
    background-color: darkorange;
    width: 15%;
    max-width: 120px;
    min-width: 80px;
    height: 80%;
    border-radius: 15px;
}
div.MenuBar ul{
    padding-left: 3%;
    padding-right: 3%;
}
div.MenuBar ul li{
    margin-top: 10%;
    margin-bottom: 10%;
    list-style-type: none;
}
div.MenuBar ul li a{
    color:aliceblue;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    text-emphasis: none;
    text-align: left;
}
div.MenuBar ul li a:link, div.MenuBar ul li a:visited{
    display: block;
}
div.MenuBar ul li a:hover, div.MenuBar ul li a:active{
    background-color: aliceblue ;
    color: darkorange;
}
div.NewS{
    opacity: 0.8;
    float:left;
    background-color: #BEC77E;
    width: 70%;
    max-width: 560px;
    min-width: 400px;
    margin-left: 1%;
    margin-right: 1%;
    height: 80%;
    border-radius: 15px;
}

div.NewS ul li{
    list-style-type: none;
}
div.cirline{
    border-right: 2px solid #4fd166;
    width: 0;
    height: 120px;
    float: left;
    left: 6px;
    top: 10px;
    position: relative;
    border-radius: 15px;
}
.spcircle {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    display: inline-block;
    position: relative;
    top: 6px;
    margin-right: 10px;
}
.circlegreen {
    background-color: #4fd166;
}
div.Abstract{
    border-radius: 5px;
    padding: 3%;
    background-color:black;
    height: 80px;
    width: 80%;
}
a.AbstractUrl{
    font-family: SimSun,'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    text-emphasis: none;
    text-align: left;
}
a.AbstractUrl h3{
    margin: 2%;
    font-size: 16px;
    font-weight: bolder;
    color:lightgoldenrodyellow;
}
a.AbstractUrl p{
    margin: 2%;
    font-size: 12px;
    font-weight: bolder;
}